body {
  background-color: gray;
  margin: 25px;
}

.app-container {
  display: flex;
}

#app {
  border: 5px solid;
}

#ui-container {
  margin-left: 50px;
  color: white;
}

#ui-container > div {
  display: grid;
  grid-template-columns: auto 200px 40px;
  gap:20px;
  align-items: center;
}
